#page-title {
  text-align: center;
  font-size: 30px;
  font-family: "American Typewriter";
  margin-bottom: 20px;
  padding: 20px;
}

nav {
  margin:20px;
}

@media only screen and (min-width: 1000px) {
  body {
    max-width: 1500px;
    text-align: center;
    margin: 10px;
      }
  #tile-space {
    grid-template-columns: repeat(16, 1fr);
    grid-gap: 4px;
  }
}

@media only screen and (max-width: 1000px) {
  body {
    margin: 10px;
    max-width: 800px;
    text-align: center;
    margin: auto;
  }
  #tile-space {
    grid-template-columns: repeat(12, 1fr);
  }
  .box table {
    width:250px
  }
}
@media screen and (min-width: 200px) and (max-width: 767px) and (orientation: portrait) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}

.tile {
  position: relative;
  text-align: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  padding:3px;
  display: inline;
  vertical-align: bottom;
  margin-top: 0px;
}

nav {
  display: block;
}

.container {
    max-width: 2000px;
    margin-right: 5px;;
    margin-left: 5px;;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#tile-space {
  display: inline-grid;
  margin-top:20px;
  margin-bottom: 20px;
  text-align: center;
}

.box-left{
  float:left;
  margin-top: 20px;
}

.box-right{
  float:right;
  margin-top: 20px;

}

.abovebelow{
  margin:0 auto;
  padding:0;
  width: 90%;
  text-align: center;
}
.abovebelow table{
  margin-left: auto;
  margin-right: auto;
}

body {
  line-height: 0;
}

table {
  table-layout: fixed;
  empty-cells: show;
  border: 2px solid black;
  white-space: nowrap;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-spacing:0px;
}

td {
  max-height: 38px;
  table-layout: fixed;
  width: 38px;
  height: 38px;
  padding: 0px;
  margin-right: 0px;
}

th {
  font-size: 23px;
  font-family: "Courier New"
}

.topnav {
  margin-bottom: 30px;
  font-family: "American Typewriter";
}

.topnav a {
  margin: 20px
}

#name {
  text-align: right;
  padding:20px;
  font-size: 12px;
  font-family: "Courier New"
}
